out
godotProject/bin/LibraryGD.dll
godotProject/bin/LibraryGD.exp
godotProject/bin/LibraryGD.lib
godotProject/bin/LibraryGD.pdb
godotProject/bin/~LibraryGD.dll
godotProject/bin/~LibraryGD_0.pdb
*.TMP
